@font-face {
    font-family: "Link";
    src: url("../Css/link-font.woff") format('woff');
}

*{
    position: relative;
    font-family: Link, Verdana;
}

html{
    overflow-y: scroll;
    background-color: #E9EBEC;
}

body{
    background-color: #FFFFFF;
    margin-top: 25px;
    width: 92%;
    min-width: 800px;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.06); //aggiunge l'ombra al contorno
}

#HEADER{
    height: 215px;
    width: 100%;
}

#UNIMOL_LOGO{
}

#UNIMOL_LOGO img{
    height: 120px;
    width: 246px;
    margin-top: 40px;
    margin-left: 52px;
    margin-bottom: auto;
    float: left;
}

#PROFILES_LOGO img{
    height: 70px;
    width: auto;
    margin-top: 90px;
    margin-right: 40px;
    float: right;
}

#TITOLO_PAGINA{
    background-color: #0369D2;
    background-image: url('../Images/pattern-titolo.png');
    height: 60px;
    width:94.75%;
    margin: 0 auto;
    line-height: 60px;
    text-align: center;
    font-size: 25px;
    color: #FFFFFF;
    z-index: 1;
}

#LINK_ELENCO_DOCENTI{
    position: absolute;
    top: 215px;
    right: 2.64%;
    height: 60px;
    width: 60px;
    z-index: 2;
}

#IMMAGINE_ELENCO_DOCENTI{
    width: 60px;
    height: 60px;
    background-image: url('../Images/bottone-elenco-docenti.png');
}

#IMMAGINE_ELENCO_DOCENTI:hover{
    background-image: url('../Images/bottone-elenco-docenti-hover.png');
}

#CONTENUTO_PAGINA{
    background-color: #FFFFFF;
    width:94.75%;
    height: 440px;
    margin-left: auto;
    margin-right: auto;
}

#FOTO_DOCENTE{
    padding-top: 10px;
    position:absolute;
    float:left;
    height: 250px;
    width: 23%;
    text-align: center;
}

#FOTO_DOCENTE img{
    max-height: 250px;
    max-width: 100%;
}

#MENU_SEZIONI{
    float: left;
    text-align: left;
    width: 23%;
    margin-top:250px;
}
#MENU_AMMINISTRATORE{
    float: left;
    text-align: left;
    width: 23%;
}

#MENU_SEZIONI ul li, #MENU_AMMINISTRATORE ul li {
    padding-top: 10px;
    padding-bottom: 8px;
    margin-left: -25px;
    list-style: none;
    list-style-type: none;
    border-bottom: 1px solid #DCDCDC;
    font-size: 14px;
    background: url('../Images/freccia-links.png') no-repeat scroll left center transparent; //aggiunge la freccia nel menu
}

#MENU_SEZIONI a, #MENU_AMMINISTRATORE a{
    color: #737373;
    text-decoration: none;
    margin-left: 15px;
}

#MENU_SEZIONI a:hover #MENU_AMMINISTRATORE a:hover{
    color: #333333;
}


#CONTENUTO_SEZIONE_SELEZIONATA{
    float:right;
    width:65%;
    padding: 6%;
}

#FOOTER{
    clear: both;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: center;
    font-size: 15px;
    padding-top: 30px;
    
}
#LINK_UTILI{
    height: auto;
    width: auto;
    padding-right: 15px;
    border-right: 1px dashed black;
    display: inline-block;
}

#CONTATTI{
    height: auto;
    width: auto;
    padding-right: 15px;
    padding-left: 15px;
    border-right: 1px dashed black;
    display: inline-block;
}

#SEGNALAZIONI{
    height: auto;
    width: auto;
    padding-right: 15px;
    padding-left: 15px;
    border-right: 1px dashed black;
    display: inline-block;
}

#ALTRO{
    height: auto;
    width: auto;
    padding-right: 15px;
    padding-left: 15px;
    display: inline-block;
}

#FORM_LOGIN_AMMINISTRATORE{
    width: 200px;
    margin: auto;
    padding-top: 145px;
}

#FORM_LOGIN_AMMINISTRATORE #BOTTONE_SUBMIT{
    width: 150px;
    padding-top: 15px;
    margin: auto;
}
#FORM_LOGIN_AMMINISTRATORE input{
    width: 100%;
    line-height: 20px;
}

.TITOLO_CATEGORIA{
    padding-top: 15px;
    font-style: oblique;
    font-weight: bold;
}

.ELENCO_CATEGORIA{
    padding-left: 15px;
}

.ELENCO_CATEGORIA ul li{
    list-style: circle;
    list-style-type: circle;
}


#CAMPO_NOME_AMMINISTRATORE{
    font-weight: bold;
}

#CAMPO_PASSWORD{
    padding-top: 10px;
    font-weight: bold;
}

#TESTO_CURRICULUM{
    padding-top: 10px;
}

#LINK_FILE{
    text-align: center;
    font-size: 25px;
}

#LINK_FILE a{
    text-decoration: none;
}

#IMMAGINE_DOWNLOAD_PDF{
    alignment-baseline: central;
}

#NOME_INSERIMENTO_DOCENTE{
    padding-top: 5px;
    height: 20px;
}

#COGNOME_INSERIMENTO_DOCENTE{
    padding-left: 150px;
    margin-top: -20px;
}

#RUOLO_INSERIMENTO_DOCENTE, #DIPARTIMENTO_INSERIMENTO_DOCENTE, 
#SESSO_INSERIMENTO_DOCENTE, #PASSWORD_INSERIMENTO_DOCENTE, #INSERISCI{
    padding-top: 5px;
}

.TITOLO_INFORMAZIONE{
    font-style: oblique;
    font-weight: bold;
}

#INFORMAZIONI_GENERALI ul li{
    list-style: none;
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
}


/*@media screen and (max-width: 900px){
    body{
        background-color: #E9EBEC;
    }
    #header{
        height: auto;
        width: auto;
        background-color: #FFFFFF;
        margin-left: auto;
        margin-right: auto;
    }
    #TITOLO_PAGINA{
        height: auto;
        width: auto;
        background-color: #FFFFFF;
        color: black;
    }
    #CONTENUTO_PAGINA{
        background-color: #FFFFFF;
        height: auto;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
}*/
